<app-header fromParent="from home comnponent to header"></app-header>
<h1>this is home component</h1>
<button (click)="getDataFromServer()">Click to call Rest api </button>

<div>
    <input type="text" [(ngModel)]="name" placeholder="Enter Name">
    <input type="text" [(ngModel)]="job"  placeholder="Enter Job">
    <input type="button" (click)="createUser()" value="Click to create User">
    {{userCreateResponse}}
</div>

<select name="" id="" (change)="pageSelection()" [(ngModel)]="pageNo">
    <option value="">Select Page No</option>
    <option value="1">Page 1 </option>
    <option value="2">Page 2 </option>

    <option value="3">Page 3 </option>
    <option value="4">Page 4 </option>

</select>
<!-- 
    ngIf
    based on the user response it will show the below error.
 -->
 <h1 *ngIf="userList.length == 0">No User found</h1>
<div *ngFor="let obj of userList">
{{obj.first_name}}--{{obj['email']}}
</div>
<button (click)="errorLogin()">errorLogin</button>